body{
    margin: 0;
}

.main_div
{
    width: 800px;
    /* padding: 30px; */
    margin: 0 auto;
    padding: 5px;
}

.mainh
{
    background: rgb(214, 211, 211);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.help
{
    text-align: right;
    
}
.shoes{
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    background: rgb(241, 235, 235);
    
}



